---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Center page titles
h1 {
    text-align: left;
}

// Add some spacing after horizontal rules
hr {
    margin-bottom: $spacing-unit / 2;
}

// Make spacing around my portrait
.portrait {
    margin-right: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
}

// Add a background image.  See
// https://www.w3schools.com/css/css_background.asp.
body {
    background-color: white;
    background-image: url("../img/llmn_nlls_plot.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 370px;
    background-attachment: scroll;
}
